@using QLSTK.Models
@using System.Data.Entity
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Cập nhật thông tin";
    Entities db = new Entities();
    var username = "khach@gmail.com";
    if (Request.IsAuthenticated)
    {
        username = @User.Identity.GetUserName(); // người đang đăng nhập hiện tại
    }
    var DBusername = db.AspNetUsers.Single(d => d.Email.Equals(username));
    var idusername = DBusername.Id;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

@Html.ActionLink("Edit", "Edit", new { id = idusername })